* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.wrapper {
  text-align: center;
}

.calculations1 {
  border: 1px solid black;
  padding: 20px;
  display: flex;
  text-align: center;
  margin: 20px;
}

.calc1 {
  flex: 1;
  flex-basis: 100%;
}

.calculations1 {
  border: 1px solid black;
  padding: 20px;
  display: flex;
  text-align: center;
  margin: 20px;
}

.calculations2 {
  border: 1px solid black;
  padding: 20px;
  text-align: center;
  margin: 20px;
}

@media all and (max-width: 800px) {
  .calculations1 {
    flex-wrap: wrap;
  }

  .calc1 {
    flex: 1 1 100%;
  }
}
