* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  margin: 0;
  padding: 0;
}

h4 {
  padding: 20px;
}

.wrapper {
  text-align: center;
}

.dark-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./images/can-img.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

#hero .container {
  height: 50vh;
}

.title {
  align-content: center;
  padding: 0;
  margin: 0;
}

.nav-bar {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
}

.nav-bar ul {
  display: flex;
  padding: 20px;
}

.nav-bar ul li {
  display: inline;
  flex: 1;
}

.nav-bar ul li a {
  text-decoration: none;
  color: black;
}

.grav-wrapper {
  background-color: white;
  border: 1px solid black;
  padding: 30px;
  text-align: center;
  margin: 50px;
}

.calculations1 {
  display: flex;
  padding: 20px;
}

.calc1 {
  flex: 1;
  flex-basis: 100%;
}

@media all and (max-width: 1000px) {
  .calculations1 {
    flex-wrap: wrap;
  }

  .calc1 {
    flex: 1 1 100%;
  }
}

.can-wrapper {
  background-color: white;
  border: 1px solid black;
  padding: 30px;
  text-align: center;
  margin: 50px;
}

.calculations2 {
  display: flex;
  padding: 20px;
}

.calc2 {
  flex: 1;
  flex-basis: 100%;
}

@media all and (max-width: 1000px) {
  .calculations2 {
    flex-wrap: wrap;
  }

  .calc2 {
    flex: 1 1 100%;
  }
}

.keg-wrapper {
  background-color: white;
  border: 1px solid black;
  padding: 30px;
  text-align: center;
  margin: 50px;
}

.calculations3 {
  display: flex;
  padding: 20px;
}

.calc3 {
  flex: 1;
  flex-basis: 100%;
}

@media all and (max-width: 1300px) {
  .calculations3 {
    flex-wrap: wrap;
  }

  .calc3 {
    flex: 1 1 100%;
  }
}

.bottle-wrapper {
  background-color: white;
  border: 1px solid black;
  padding: 30px;
  text-align: center;
  margin: 50px;
}

.calculations4 {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.calc4 {
  flex: 1 1 50%;
}

@media all and (max-width: 1200px) {
  .calc4 {
    flex: 1 1 100%;
  }
}
